<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BMLSegmentNavigation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63FEA3541CEF045F002B524F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63FEA36D1CEF0460002B524F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63FEA3781CEF0460002B524F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
